html
	head
		//- bower:css
		link(rel='stylesheet', href='/lib/bootstrap/dist/css/bootstrap.min.css')
		link(rel='stylesheet', href='/lib/font-awesome/css/font-awesome.min.css')
		//- endbower
		
		//- inject:css
		link(rel="stylesheet", href="/css/styles.css")
		//- endinject
		title First Jade file
	body
		h1 This is written in Jade templating language
		br
		h3 sub heading
		
		//- bower:js
		script(src='/lib/jquery/dist/jquery.js')
		script(src='/lib/bootstrap/dist/js/bootstrap.js')
		//- endbower
		
		//- inject:js
		script(src="/js/main.js")
		//- endinject